
$color:white;
$font-size:70px;
$width:950px;
$font-weight:bold;
$text-align:center;


.center h1{

	color: $color;
	font-size: $font-size;
	width:$width;
	font-weight:$font-weight;
      text-align:$text-align;
      
} 

.center h2{

	color:$color;
	font-size:$font-size;
	font-weight:$font-weight;
      text-align:$text-align;
      margin-top: 10px;
     
} 